table{
    width: 100%;
}
.container {
    margin-top: 30px;
}

.add-client {
    margin-bottom: 30px;
}

.list-car {
    margin-bottom: 50px;
}

.btn-add-car {
    margin-right: 10px;
}
.button-encrypt{
    margin-right: 10px;

}
.mat-row:hover {
    background-color: lightgray;
  }
  .client-table{
      margin-top: 30px;
  }